<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/js/css/index.css"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Welcome</title>
</head>
<body>

<a href="/user" th:href="@{/login}" class="text-white">User Login</a>
<!--<a href="/admin" th:href="@{/login}" class="text-white">Admin Login</a>-->
</body>

</html>