<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/js/css/index.css}"/>
    <style>
        .flex-container {
            display: flex;
            background-color: DodgerBlue;
        }

        .flex-container > div {
            margin: 10px;
            padding: 20px;
            font-size: 30px;
            overflow: scroll;
            width: 50%;
            height: auto;
        }
    </style>
</head>
<body>

<ul>
    <li><a class="active" href="index.html" th:href="@{/user/index}">Home</a></li>
    <li><a href="upload.html"  th:href="@{/upload}"> Upload Documents</a></li>
    <li><a href="code.html" th:href="@{/user/code}">Qr-Code Information</a></li>
    <li><a href="profile.html" th:href="@{'/profile/'+${name}}">Edit Profile</a></li>
    <li><a href="contact.html" th:href="@{/contact}">Contact</a></li>
    <li style="float: right"><a href="/user" th:href="@{/logout}" class="text-white">Logout</a></li>
</ul>

<h2>Welcome To The Vaccine Wallet Application</h2>

<div class="flex-container">
    <div id="code">
        <img th:src="@{'https://qrclouddb.s3.ca-central-1.amazonaws.com/'+${userName}+'.jpg'}"  alt="Code"/>
    </div>
    <div id="info">
        <p th:text="${pdfInformation}">
          Info
        </p>
    </div>
</div>

</body>
</html>