<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>


    <meta charset="UTF-8">
    <title>QR Code</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/js/css/index.css" th:href="@{../js/css/index.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .flex-container {
            display: flex;

        }
        .flex-container > div {
            margin: 10px;
            padding: 20px;
            font-size: 30px;
            width: 50%;
            height: auto;
        }
    </style>
</head>
<body>

<ul>
    <li><a class="active" href="index.html" th:href="@{/user/index}">Home</a></li>
    <li><a href="upload.html"  th:href="@{/upload}"> Upload Documents</a></li>
    <li><a href="code.html" th:href="@{/user/code}">Qr-Code Information</a></li>
    <li><a href="profile.html" th:href="@{'/profile/'+${userName}}">Edit Profile</a></li>
    <li><a href="changeUserPass.html" th:href="@{'/changeUserPass/'+${userName}}">Edit Username/Password</a></li>
    <li><a href="contact.html" th:href="@{/contact}">Contact</a></li>
    <li style="float: right"><a href="/user" th:href="@{/logout}" class="text-white">Logout</a></li>
</ul>

<div class="row">
    <div id="code" class="col-sm-5">
        <img th:src="@{'https://qrclouddb.s3.ca-central-1.amazonaws.com/'+${userName}+'.jpg'}"  alt="Code"/>
    </div>
    <div class="col-sm-6.5">

        <table class="table">
            <thead class="thead-dark">

            <tr>
                <th scope="col">Name</th>
                <th scope="col">Vaccine Date
                    <span class="text-danger small " th:text="${confirm}">confirm</span>
                </th>
                <th scope="col">Vaccine Name</th>
                <th scope="col">Recieved Doses</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="info: ${vaccineInfo}">
                <td th:if="${info.vaccine != null}" th:text="${info.vaccine.nameOnVaccine}"></td>
                <td th:if="${info.vaccine != null}" th:text="${info.vaccine.vaccineDate}"></td>
                <td th:if="${info.vaccine != null}" th:text="${info.vaccine.vaccineName}"></td>
                <td th:if="${info.vaccine != null}" th:text="${info.vaccine.noOfDose}"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</body>
</html>