<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/js/css/index.css"/>

</head>
<body>

  <H1>Insider</H1>
  <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">Upload Documents</a></li>
      <li><a href="#QR Page">Qr-Code Information</a></li>
      <li><a href="#contact">Contact</a></li>
      <li style="float: right"><a href="#about">About</a></li>
  </ul>
  <h2>Welcome To The Vaccine Wallet Application</h2>

  <h2><a href="/user" th:href="@{/logout}" class="text-white">Logout</a></H2>
</body>
</html>