<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/js/css/index.css" th:href="@{../js/css/index.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

  <ul>
      <li><a class="active" href="index.html" th:href="@{/user/index}">Home</a></li>
      <li><a href="upload.html"  th:href="@{/upload}"> Upload Documents</a></li>
      <li><a href="code.html" th:href="@{/user/code}">Qr-Code Information</a></li>
      <li><a href="profile.html" th:href="@{'/profile/'+${userName}}">Edit Profile</a></li>
      <li><a href="changeUserPass.html" th:href="@{'/changeUserPass/'+${userName}}">Edit Username/Password</a></li>
      <li><a href="contact.html" th:href="@{/contact}">Contact</a></li>
      <li style="float: right"><a href="/user" th:href="@{/logout}" class="text-white">Logout</a></li>
  </ul>
  <h2 style="text-align:center">Welcome To The Vaccine Wallet</h2>


  <div class="card">
      <form >
          <label>Usename: </label>
        <h1 th:text = "${name}">Username</h1>

          <div th:each=" info: ${userList}">
              <label>First Name: </label>
              <p th:text="${info.firstName}">First Name</p>
              <label>Middle Name: </label>
              <p th:text="${info.middleName}">Middle Name</p>
              <label>Last Name: </label>
              <p th:text="${info.lastName}">Last Name</p>

              <label>Age: </label>
              <p th:text="${info.age}">Age</p>
              <label>Phone Number: </label>
              <p th:text="${info.phoneNumber}">Phone number</p>
              <label>Email: </label>
              <p th:text="${info.email}">email</p>
              <label>address: </label>
              <p th:text="${info.address}">address</p>
              <label>Postal Code: </label>
              <p th:text="${info.postalCode}">Postal Code</p>
              <label>City: </label>
              <p th:text="${info.city}">city</p>
              <label>Province: </label>
              <p th:text="${info.province}">Province</p>


          </div>
      <a th:href="@{/user/code}" class="btn btn-dark" style="width: 100%;">Qr Information</a>
      </form>
  </div>

</body>
</html>