<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Edit Personal Information</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/js/css/index.css" th:href="@{../js/css/index.css}"/>
</head>
<body>
<ul>
    <li><a class="active" href="index.html" th:href="@{/user/index}">Home</a></li>
    <li><a href="upload.html"  th:href="@{/upload}"> Upload Documents</a></li>
    <li><a href="code.html" th:href="@{/user/code}">Qr-Code Information</a></li>
    <li><a href="profile.html" th:href="@{'/profile/'+${userName}}">Edit Profile</a></li>
    <li><a href="changeUserPass.html" th:href="@{'/changeUserPass/'+${userName}}">Edit Username/Password</a></li>
    <li><a href="contact.html" th:href="@{/contact}">Contact</a></li>
    <li style="float: right"><a href="/user" th:href="@{/logout}" class="text-white">Logout</a></li>
</ul>

<div>
    <form name="form" method="post" th:action="@{'/profile/'+${name}}" th:each=" info: ${userList}">
        <Label> First Name: </Label>

        <input type="text" name="firstName" th:value="${info.firstName}" placeholder="Enter First Name" maxlength="30">
        <Label> Middle Name </Label>
        <input type="text" name="middleName" th:value="${info.middleName}" placeholder="Enter Middle Name" maxlength="30">
        <Label> Last Name </Label>
        <input type="text" name="lastName" th:value="${info.lastName}" placeholder="Enter Last Name" maxlength="30">
        <Label> Age: </Label>
        <input type="number" name="age" th:value="${info.age}" placeholder="Enter Age" min="12" maxlength="3">
        <Label> Phone Number: </Label>
        <input type="number" name="phoneNumber" th:value="${info.phoneNumber}" placeholder="Enter Phone Number" maxlength="10">
        <Label> Email: </Label>
        <input type="text" name="email" th:value="${info.email}" placeholder="Enter Email">
        <label>Health Card No:</label>
        <input type="text" name="hcNumber" th:value="${info.hcNumber}" placeholder="Enter Health card Number">
        <Label> Address: </Label>
        <input type="text" name="address" th:value="${info.address}" placeholder="Enter Address">
        <Label> Postal Code: </Label>
        <input type="text" name="postalCode" th:value="${info.postalCode}" placeholder="Enter Postal Code">
        <Label> City: </Label>
        <input type="text" name="city" th:value="${info.city}" placeholder="Enter City">
        <Label> Province: </Label>
        <input type="text" name="province" th:value="${info.province}" placeholder="Enter Province">


        <input type="submit" value="Confirm Changes">
    </form>
</div>

</body>
</html>