<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/js/css/index.css" th:href="@{../js/css/index.css}"/>
</head>
<body>
<ul>
    <li><a class="active" href="index.html" th:href="@{/index}">Home</a></li>
    <li><a href="upload.html"  th:href="@{/upload}"> Upload Documents</a></li>
    <li><a href="code.html" th:href="@{/code}">Qr-Code Information</a></li>
    <li><a href="profile.html" th:href="@{'/profile/'+${name}}">Edit Profile</a></li>
    <li><a href="contact.html" th:href="@{/contact}">Contact</a></li>
    <li style="float: right"><a href="/user" th:href="@{/logout}" class="text-white">Logout</a></li>
</ul>

<div>
    <form name="form" method="post" th:action="@{'/profile/'+${name}}">
        <Label> First Name: </Label>
        <input type="text" name="firstName" placeholder="Enter First Name">
        <Label> Middle Name: </Label>
        <input type="text" name="middleName" placeholder="Enter Middle Name">
        <Label> Last Name: </Label>
        <input type="text" name="lastName" placeholder="Enter Last Name">
        <Label> Age: </Label>
        <input type="number" name="age" placeholder="Enter Age">
        <label>Health Card No:</label>
        <input type="text" name="hcNumber" placeholder="Enter Health card Number">
        <Label> Address: </Label>
        <input type="text" name="address" placeholder="Enter Address">
        <Label> Postal Code: </Label>
        <input type="text" name="postalCode" placeholder="Enter Postal Code">
        <Label> City: </Label>
        <input type="text" name="city" placeholder="Enter City">
        <Label> Province: </Label>
        <input type="text" name="province" placeholder="Enter Province">
        <Label> Phone: </Label>
        <input type="number" name="phoneNumber" placeholder="Enter Phone Number">
        <Label> Email: </Label>
        <input type="text" name="email" placeholder="Enter Email">

        <input type="submit" value="Add">
    </form>
</div>

</body>
</html>