<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Documents</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/js/css/upload.css" th:href="@{../js/css/upload.css}"/>

</head>
<body>
<ul>
    <li><a class="active" href="index.html" th:href="@{/user/index}">Home</a></li>
    <li><a href="upload.html"  th:href="@{/upload}"> Upload Documents</a></li>
    <li><a href="code.html" th:href="@{/user/code}">Qr-Code Information</a></li>
    <li><a href="profile.html" th:href="@{'/profile/'+${userName}}">Edit Profile</a></li>
    <li><a href="changeUserPass.html" th:href="@{'/changeUserPass/'+${userName}}">Edit Username/Password</a></li>
    <li><a href="contact.html" th:href="@{/contact}">Contact</a></li>
    <li style="float: right"><a href="/user" th:href="@{/logout}" class="text-white">Logout</a></li>
</ul>

<div class="card">
<form method="post" enctype="multipart/form-data" th:action="@{/generateQR}">
    <img src="../../static/js/image/upload.png" th:src="@{/js/image/upload.png}" alt="Avatar" class="avatar"><br>

    <label>Upload Document</label>
    <br>
    <span style="font-size: xx-small; color: red " th:text="${pdf}"></span>
    <label  style="font-size: xx-small; color: red " th:text="${upload}"></label>

    <input type="file" accept="application/pdf" name="vacfile">
    <button type="submit" value="Generate QR">Generate QR</button>
</form>
</div>
</body>
</html>