body,
html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ff4c4c;
    text-decoration: none;
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}
input[type=file]{
    font-family: Arial;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: green;
}
.avatar{
    width: 30%;
}

.heading{
    border-radius: 10px;
    background-color: lightgray;
    padding: 1px;
    text-align: center;
    margin: 50px 100px 50px 100px;
}